<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='contactsdecor.css')}}">
    </head>
    <div class="topnav">
        <a href="{{url_for('page')}}">Home</a>
        <a class="active" href="{{url_for('contacts')}}">Contacts</a>
        <a href="{{url_for('deposit')}}">Deposit</a>
        <a href="{{url_for('status')}}">Status</a>
      </div>
      <body>
          <table>
              <tr>
                  <th>Contact</th>
                  <th>Phone No.</th>
                  <th>Email-id</th>
              </tr>
              <tr>
                  <td>Supervisor</td>
                  <td>Lorem Ipsum</td>
                  <td>Lorem Ipsum</td>
              </tr>
              <tr>
                  <td>Lorem Ipsum</td>
                  <td>Lorem Ipsum</td>
                  <td>Lorem Ipsum</td>
              </tr>
              </table>
              </table>
          </table>
      </body>
</html>